*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F4F4 !important;
}
.my-bg{
    background: #4CAF50 !important;
    color: #fff !important;
}
.search-box{
    width: 90% !important;
}
nav .nav-link{
    color: #fff !important;
    margin: 0 8px;
}
.tutorial-wrapper{
    width: 90%;
    display: grid;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
}

.tutorial-box{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    text-align: center;
}
.tutorial-box img{
    margin-bottom: 5px;
}
.tutorial-box a{
    font-size: 14px;
}

.feed-box{
    border-left: 5px solid green;
}
.right-link a{
    font-size: 14px;
    color: green;
}
.right-link a:hover{
    color: red;
}
@media only screen and (max-width:832px){
    .tutorial-wrapper{
        width:100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .tutorial-box{
        margin-bottom: 8px;
    }
}

@media only screen and (max-width:668px){
    .tutorial-wrapper{
        width:100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}